<a href="https://colab.research.google.com/github/ckshin29/ai/blob/main/01HW20220125%EC%8B%A0%EC%B0%BD%EA%B7%A002.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#001

print('Hello World')

Hello World

In [ ]:
#002

print('Mary\'s cosmetics')
print("Mary's cosmetics")

Mary's cosmetics
Mary's cosmetics

In [ ]:
#003

print("신씨가 소리를 질렀다. \"도둑이야\".")
print('신씨가 소리를 질렀다. "도둑이야".')

신씨가 소리를 질렀다. "도둑이야".
신씨가 소리를 질렀다. "도둑이야".

In [ ]:
#004

print('"C:\Windows"')
print("\"C:\Windows\"")

"C:\Windows"
"C:\Windows"

In [ ]:
#005

print("안녕하세요.\n 만나서\t\t 반갑습니다.")
#\n은 줄바꾸는 역할이고 \t 은 일정간격을 띄워주는 역할이다.

안녕하세요.
 만나서		 반갑습니다.

In [ ]:
#006

#오늘은 일요일

In [ ]:
#007

print('naver','kakao','sk','samsung' , sep=';')
print('naver;kakao;sk;samsung')

naver;kakao;sk;samsung
naver;kakao;sk;samsung

In [ ]:
#008 

print('naver','kakao','sk','samsung' , sep='/')
print('naver/kakao/sk/samsung')

naver/kakao/sk/samsung
naver/kakao/sk/samsung

In [ ]:
#009

print("first",end=' ');print("second")

first second

In [ ]:
#010

print(5/3)

1.6666666666666667

In [29]:
#11

samsung = int(50000)

print(f'삼성전자 주식을 10주 보유하고 있을 시 총 평가금액은 {samsung*10} 입니다. ')

삼성전자 주식을 10주 보유하고 있을 시 총 평가금액은500000 입니다.

In [ ]:
#12

시가총액 = int(29800000000)
현재가 = int(50000)
PER = float(15.79)

In [32]:
#13

s = "hello"
t = "python"

print(f'{s}! {t}')

hello! python

In [ ]:
#14

# 8

In [ ]:
#15

# string 타입

In [34]:
#16

num_str ='720'
a = int(num_str)

print(a)
print(type(a))

720
<class 'int'>

In [33]:
#17

num = 100
a = str(num)

print(a)
print(type(a))

100
<class 'str'>

In [36]:
#18

num1 = '15.79'
a = float(num1)

print(a)
print(type(a))

15.79
<class 'float'>

In [39]:
#19

year = '2020'
a = int(year)

print(f'3년전 연도는 {a-3} 2년전 연도는 {a-2} 1년전 연도는 {a-1} 현재는 {a} 입니다.')

3년전 연도는 2017 2년전 연도는 2018 1년전 연도는 2019 현재는 2020 입니다.

In [40]:
#20

monthly = 48584
month = 36
sum = monthly*month
print(f'에어컨의 총 금액은 {sum} 원 입니다.')

에어컨의 총 금액은 1749024 원 입니다.