<a href="https://colab.research.google.com/github/ckshin29/newnewai/blob/main/04HW20220207%EC%8B%A0%EC%B0%BD%EA%B7%A021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#211

# 안녕

# Hi

In [2]:
#212

# 11

# 15

In [3]:
#213

#매개 변수를 넣지 않아서

In [4]:
#214

#정수 대신 문자열을 넣어서

In [5]:
#215

def print_with_smile(a) :
  print(f'{a}',end=":D")

print(print_with_smile("안녕하세요"))

#?????

안녕하세요:DNone

In [6]:
#216

def print_with_smile(a) :
  print(f'{a}',end=":D")

print(print_with_smile("안녕하세요"))

#?????

안녕하세요:DNone

In [7]:
#217

def print_upper_price(a) :
  a = a*1.3
  return a

print(print_upper_price(100))

130.0

In [8]:
#218

def print_sum(a,b) :
  return a+b

print(print_sum(10,15))

25

In [9]:
#219

def print_arithmetic_operation(a,b) :
  print(f'{a} + {b} = {a+b}')
  print(f'{a} - {b} = {a-b}')
  print(f'{a} * {b} = {a*b}')
  print(f'{a} / {b} = {a/b}')
  
  return

print_arithmetic_operation(3,4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [10]:
#220

def print_max(a,b,c) :
  if a > b or a > c :
    print(a)
  elif b > c :
    print(b)
  else :
    print(c)
  
  return
  
print_max(5,11,10)

11

In [11]:
#221

#def print_reverse(a) :

#?????????????????

In [13]:
#222

def print_score(*args) :
  for i in args :
    n = 0
    i += i
    n += 1
  print((sum(args)/int(n))
  return

print_score([1,2,3])

#?????????????

SyntaxError: ignored

In [18]:
#223

def print_even(*args) :
  for i in args :
    if i%2 == 0:
      prinf(i)
    else :
      return

print_even([1,3,2,10,12])

#?????????????

TypeError: ignored

In [21]:
#224

def print_keys(a) :
  print(a.keys())
  return

print_keys ({"이름":"김말똥", "나이":30, "성별":0})

dict_keys(['이름', '나이', '성별'])

In [22]:
#225

my_dict = {"10/26" : [100, 130, 100, 100],
 "10/27" : [10, 12, 10, 11]}


def print_value_by_key(a,b) :
  print(a.value())
  return

print_value_by_key (my_dict, "10/26")

#??????????????????

AttributeError: ignored

In [ ]:
#226

def print_5xn(string) :
  for s in (string)

#?????????????????

In [ ]:
#227 문자열 복습 필요

In [25]:
#228

def calc_monthly_salary(annual_salary) :
  print(annual_salary/12)
  return

calc_monthly_salary(1200000)

100000.0

In [26]:
#229
 
#왼쪽 : 100
#오른쪽 : 200

왼쪽: 100
오른쪽: 200

In [27]:
#230

#왼쪽 : 200
#오른쪽 : 100

왼쪽: 200
오른쪽: 100