<a href="https://colab.research.google.com/github/ckshin29/ai/blob/main/20210125.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
'''
작성자 : 신창균
작성일 : 2022-01-25
버전 : 0.1
'''

"""
작성자 : 신창균
작성일 : 2022-01-25
버전 : 0.1
"""

# 보통 삼중 따옴표 조석은 
# 여러줄을 주석으로 
# 사용 할 때 사용한다.

#주석 붙이는 위치
print("hello world") # 보통 행의 우측 또는 위에 주석을 붙인다.

hello world

In [12]:
#################
#변수 Variable
#################

score = 200
print(score)

score = 300
print(score)

200
300

In [13]:
a = 1
A = 2
print(a)
print(A)

1
2

In [19]:
a1 = 'hi'
print(a1)

hi

In [18]:
student_avg = 20
print(student_avg) 
math_sum = 1500
print(math_sum)

20
1500

In [34]:
name = 'alice'
age = 25
address = '''우편번호 12345
서울시 영등포구 여의도동
서울빌딩 501호'''
boyfriend = None
height = 168.5

print(name)
print(age)
print(address)
print(boyfriend)
print(height)

alice
25
우편번호 12345
서울시 영등포구 여의도동
서울빌딩 501호
None
168.5

In [25]:
#################
#기본 자료형 type
#################

a = int(1.9)
print(a)

b = int(True)
print(b)
c = int(False)
print(c)

1
1
0

In [32]:
a = 100
b = '100'
print(type(a))
print(type(b))

print(a)
print(b)
print(a==b)

c = int(b)
print(type(c))
print(a==c)
print(int(b))

<class 'int'>
<class 'str'>
100
100
False
<class 'int'>
True
100

In [38]:
# 실수 float

a = float(1)
print(a)

b = float(True)
print(b)

c = float('3.14')
print(c)

d = float('100')
print(d)

1.0
1.0
3.14
100.0

In [42]:
# bool 논리 True of False

a = bool(0)
print(a)

b = bool()
print(b)

c = bool([])
print(c)

d = bool([1])
print(d)

False
False
False
True

In [47]:
##################
#문자열 String
##################

a = '대한민국'
a = "대한민국"

b = str(100)
print(b)
print(type(b))

c = str(True)
print(c)
print(type(c))

100
<class 'str'>
True
<class 'str'>

In [54]:
# 문자열 인덱싱

# 파이썬은 0에서 시작한다.

s = 'Hello'
print(s[4])

print(s[-1])
print(s[-5])
print(s[-5]==s[0])



ss = '990211-1005432'

print(ss[7])

o
o
H
True
1

In [56]:
ss = '990211-1005432'

print(ss[0:2]) # 0 번째부터 2번째 미만까지...[start:stop:step] step은 생략 가능
print(ss[0:10:2])

99
901-0

In [61]:
#print
F

print("Hello 'World'")
print('Hello \'World\'')
print("Hello \"World\"")
print('Hello "World"')

Hello World
Hello 'World'
Hello 'World'
Hello "World"
Hello "World"

In [64]:
print('Hello \nWorld')

Hello
World

In [63]:
print('이름  \n전화')

이름
전화

In [66]:
print('이름\t연락처')
print('홍길동\t010-2020-2903')

이름	연락처
홍길동	010-2020-2903

In [68]:
print('재미있는 ', '파이썬')

재미있는  파이썬

In [70]:
print('평점', end=':')
print('5점')

평점:5점

In [75]:
print('국어','영어','수학')
print('국어','영어','수학', sep = '/')
print('국어','영어','수학', sep = ',')
print('국어','영어','수학', sep = '\n')
print('\n국어\n영어\n수학')

국어 영어 수학
국어/영어/수학
국어,영어,수학
국어
영어
수학

국어
영어
수학

In [86]:
# %연산자

print(10)
print('%d' %10) # %d decimal 정수
print('%f' %3.14) # %f float 실수
print('%s' %'학생') # %s string 문자열

print('%d 을 입력하세요' %10)
print('%s 을 입력하세요' %10)

print('원주율은 %f 입니다.' %3.14)
print('원주율은 %s 입니다.' %3.14)

std = "고등학생"
print('저는 %s 입니다.' %std)
print("저는", std, '입니다')

10
10
3.140000
학생
10 을 입력하세요
10 을 입력하세요
원주율은 3.140000 입니다.
원주율은 3.14 입니다.
저는 고등학생 입니다.
저는 고등학생 입니다

In [91]:
print("%d" % 1)
print("%5d" % 1)
print("%-5d" % 1)
print("%5d" % 11)
print("%-5d" % 11)

1
    1
1
   11

In [97]:
print('원주율은 %f 입니다.' %3.14)
print('원주율은 %5.1f 입니다.' %3.14)
print('원주율은 %-5.1f 입니다.' %3.14)
print('원주율은 %.2f 입니다.' %3.14)

원주율은 3.140000 입니다.
원주율은   3.1 입니다.
원주율은 3.1   입니다.
원주율은 3.14 입니다.

In [98]:
name = 'kai'
print('내 이름은 %s입니다.' %name)

내 이름은 kai입니다.

In [109]:
height = 185.5
print('내 키는 %.1f입니다.' %height)
print('내 키는 %s입니다.' %height)
print('내 키는 %s이고 이름은 %s입니다.' %(height, name))
print('내 키는 {}이고 이름은 {}입니다.' .format(height,name))

내 키는 185.5입니다.
내 키는 185.5입니다.
내 키는 185.5이고 이름은 kai입니다.
내 키는 185.5이고 이름은 kai입니다.

In [ ]:
height = 185.5
print('내 키는 %.1f입니다.' %height)
print('내 키는 %s입니다.' %height)

In [105]:
# format()

zipcode ='06236'
print('우편번호 : %s' % zipcode)

print('우편번호 : {}'.format(zipcode))

우편번호 : 06236
우편번호 : 06236

In [113]:
print('My name is {}. i\'m {} years old.' .format('James' , 25))
print('My name is {1}. i\'m {0} years old.' .format(25 , 'James'))
print('My name is {name}. i\'m {age} years old.' .format(age=25, name='James'))

My name is James. i'm 25 years old.
My name is James. i'm 25 years old.
My name is James. i'm 25 years old.

In [114]:
# f-strings
# 파이썬 3.6 이후 부터 사용 가능

who = 'you'
how = 'happy'
print(f'{who} make me {how}')

you make me happy

In [118]:
age = 25

print(f'올해는 {age} 입니다')
print(f'내년에는 {age+1} 입니다')

올해는 25 입니다
내년에는 26 입니다

In [123]:
#################
#입력 input()
#################

n = input()
print(f'당신이 입력한 내용은 {n} 입니다.')
print('당신이 입력한 내용은', n , '입니다.')

1
당신이 입력한 내용은 1 입니다.
당신이 입력한 내용은 1 입니다.

In [124]:
n = input('당신의 나이를 입력하세요')
print(f'당신의 나이는 {n} 입니다.')
print('당신의 나이는', n , '입니다.')

당신의 나이를 입력하세요20
당신의 나이는 20 입니다.
당신의 나이는 20 입니다.

In [137]:
name = input('이름을 입력하세요 ')
age = input('나이를 입력하세요 ')

# 1 기본
print('당신의 이름은' , name, '이고 나이는' , age, '입니다.')

# 2 f-string
print(f'당신의 이름은 {name} 이고 나이는 {age} 입니다.')

# 3 format()
print('당신의 이름은 {} 이고 나이는 {} 입니다.' .format(name,age))

# 4 % 연산자
print('당신의 이름은 %s 이고 나이는 %s 입니다.' % (name,age))

print(name, type(name))
print(age, type(age))

이름을 입력하세요 11
나이를 입력하세요 13
당신의 이름은 11 이고 나이는 13 입니다.
당신의 이름은 11 이고 나이는 13 입니다.
당신의 이름은 11 이고 나이는 13 입니다.
당신의 이름은 11 이고 나이는 13 입니다.
11 <class 'str'>
13 <class 'str'>

In [139]:
name = input('이름을 입력하세요 ')
age = int(input('나이를 입력하세요 '))

print('당신의 이름은 %s 이고 나이는 %d 입니다.' % (name,age))

print(name, type(name))
print(age, type(age))

이름을 입력하세요 13
나이를 입력하세요 22
당신의 이름은 13 이고 나이는 22 입니다.
당신의 이름은 13 이고 나이는 22 입니다.
당신의 이름은 13 이고 나이는 22 입니다.
당신의 이름은 13 이고 나이는 22 입니다.
13 <class 'str'>
22 <class 'int'>

In [155]:
month = int(input('할부 개월 입력 '))
money = 50000
monthly = round(money/month,2)

print(month, '개월 동안 매달 내는 금액은 ', monthly,'입니다.')

print(f'{month} 개월 동안 매달 내는 금액은 {monthly} 입니다.')

print('{} 개월 동안 매달 내는 금액은 {} 입니다.' .format(month , monthly))

print('%d 개월 동안 매달 내는 금액은 %s입니다.' % (month, monthly))

할부 개월 입력 3
3 개월 동안 매달 내는 금액은  16666.67 입니다.
3 개월 동안 매달 내는 금액은 16666.67 입니다.
3 개월 동안 매달 내는 금액은 16666.67 입니다.
3 개월 동안 매달 내는 금액은 16666.67입니다.

In [156]:
a = float(input('실수 1 : '))
b = float(input('실수 2 : '))
c = a + b

print(a, '과', b,'의 합계는', c,'입니다.')

print(f'{a}과 {b} 의 합계는 {c} 입니다.')

print('{}과 {}의 합계는 {} 입니다.' .format(a , b , c))

print('%f과 %f의 합계는 %f 입니다.' % (a ,b, c))

실수 1 : 4.3
실수 2 : 2.7
4.3 과 2.7 의 합계는 7.0 입니다.
4.3과 2.7 의 합계는 7.0 입니다.
4.3과 2.7의 합계는 7.0 입니다.
4.300000과 2.700000의 합계는 7.000000 입니다.