<a href="https://colab.research.google.com/github/ckshin29/ai/blob/main/20220127.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
######################
# Review
######################

# Collection : 많은 데이터 (elements)를 저장하는...면접문제에서도 자주 나옴!!

# 리스트list          튜플tuple           딕셔너리dict            셋set
# []                  ()                  {}                      {}
# mutable             immutable           mutable                 mutable
# 인덱싱/슬라이싱     인덱싱/슬라이싱     none                    none
#                     (1,)                {key:value}             중복데이터 미허용
#                                         자바의 map JS의 json    중복 제거

# List

list1 = [1,2,3,4,5]
list2 = [2,3,'하나','둘',True,False]

print(list1[0]) #indexing
print(list2[2:4]) #slicing [시작:끝(미만)]

list1[0] = 9
print(list1)

print(list1*3)

list1.append(8) #append()는 마지막에 넣는다
print(list1)

list1.insert(0, 10) #특정위치 지정하여 삽입
print(list1)

1
['하나', '둘']
[9, 2, 3, 4, 5]
[9, 2, 3, 4, 5, 9, 2, 3, 4, 5, 9, 2, 3, 4, 5]
[9, 2, 3, 4, 5, 8]
[10, 9, 2, 3, 4, 5, 8]

In [2]:
#비 파괴적 방법을 선호하기에 복사본을 만들어서 사용하기도 함

list3= list1
print(list1)
print(list3)

print(id(list1))
print(id(list3))

del list3[0]

print(list1)
print(list3)

#list1 도 이정표 같이 저 담겨있는것들을 가리키는 것들임 정확히는 담겨있는게 아님
#엄밀히 말하면 복사가 아니라 list1,lsit3 둘다 저 데이터를 가르키고 있는것 뿐임

list4 = list1.copy() #복사본 만들기

print(list1)
print(list4)

print(id(list1))
print(id(list4))

del list4[0]

print(list1)
print(list4)

[10, 9, 2, 3, 4, 5, 8]
[10, 9, 2, 3, 4, 5, 8]
140348350174544
140348350174544
[9, 2, 3, 4, 5, 8]
[9, 2, 3, 4, 5, 8]
[9, 2, 3, 4, 5, 8]
[9, 2, 3, 4, 5, 8]
140348350174544
140348273766640
[9, 2, 3, 4, 5, 8]
[2, 3, 4, 5, 8]

In [3]:
t1=('대한','민국')
print(type(t1))
t2 = (1,)
print(type(t2))

<class 'tuple'>
<class 'tuple'>

In [4]:
# Dict

dict = {
    'key':'value'
}

print(dict)
print(dict['key'])

dict['newkey']='ai'
print(dict)

del dict['key']
print(dict)

{'key': 'value'}
value
{'key': 'value', 'newkey': 'ai'}
{'newkey': 'ai'}

In [5]:
# Set

set = {1,1,2,2,3,3}
print(set)

{1, 2, 3}

In [6]:
#######################################
# if 조건문
#######################################

# if 조건식(True or False) :
#   True일 경우 실행
# else :
#   False일 경우 실행
# else 생략 가능

if False:
  print('True')
else :
  print('False')

#if 문은 위에서 True 가 나오면 더 이상 확인 안하고 그대로 건너뛴다
if True:
  print('1st')
elif False:
  print('2nd')
elif True:
  print('3nd')
else :
  print('etc')

#파이썬은 if가 비효율적으로 보일 수도 있으나 if가 정답이다.

#for는 정확할때 while 애매할때 사용한다. 근데 둘이 거의 같음

#중첩은 좋은 방법이 아니다. 코드가 지저분해서 가독성이 낮아지니까

score = 80

if score >=100:
  print('상')
else:
  if score >=50:
    print('중')
  else :
    print('하')


if score >=100:
  print('상')
elif score>=50:
  print('중')
else :
  print('하')

False
1st
중
중

In [7]:
# score = int(input("당신의 점수를 입력하세요 >>> "))

# #int는 인덱싱 불가

# if score >= 90:
#   grade = ('A')
# elif score >= 80:
#   grade = ('B')
# elif score >= 70:
#   grade = ('C')
# elif score >= 60:
#   grade = ('D')
# else :
#   grade = ('F')

# if int(score%10) >= 7:
#   grade2 = ('+')
# elif int(score%10) >= 4:
#   grade2 = (' ')
# else :
#   grade2 = ('-')

# print(f'당신의 점수는 {score}이고 학점은 {grade}{grade2} 입니다.')

In [8]:
###############################################3
# While
##################################################

#반복문은 작업 수행을 한 번이 아니라 계속해서 수행해야 할때 사용
#while 반복 작업을 몇 번 수행할지 확실하지 않을때 주로 사용
#ex) 운동장을 해가 질때까지 반복해서 돌자

# while 조건식 :
# 실행구문

#while True:
#  print('운동장 돌기')

In [9]:
n = 1
while n <= 10 :
  print(n)
  n+=1 #n = n + 1 같음 (자바 n++)

print('---------------')
print(n)

1
2
3
4
5
6
7
8
9
10
---------------
11

In [10]:
#10부터 1까지 짝수만 거꾸로 출력

n = 10
while n>=1 :
  print(n)
  n-=2

10
8
6
4
2

In [11]:
# 사용자보루터 임의의 정수를 입력받아 모두 리스트에 보관합니다.
#단 0을 입력하면 프로그램을 종요합니다. (0은 리스트에 저장 안함)
# 촤종 저장된 리스트를 출력

# nlist = []
# number = 1

# while number != 0:
#   number = int(input('>> 임의의 정수를 입력하세요 '))

#   if number != 0:
#     nlist.append(number)
  
  


# print(nlist)

In [ ]:
nlist = []
number = 1

while number != 0:
  number = int(input('>> 임의의 정수를 입력하세요 '))
  nlist.append(number)


print(nlist)

In [ ]:
# while 중첩
#while 내부에 또 다른 while을 사용하는 것을 중첩이라고 한다.

# 3일 동안 1~3교시 수업을 한다.

day = 1

while day <= 3 :
  hour = 1
  while hour <= 3 :
    print(f'{day}일차 {hour}교시 입니다.')
    hour += 1
  day += 1

In [ ]:
# 구구단을 2단부터 9단까지 출력

# 2 X 1 = 2
# 2 X 2 = 4

# 9 X 9 =81

num1 = 2

while num1 <= 9 :
  num2 = 1
  while num2 <= 9 :
    print(f'{num1} X {num2} = {num1*num2} ')
    num2 += 1
  num1 += 1

In [ ]:
# q 정수를 입력받아서 그 횟수 만큼 'Hello'를 출력하는 프로그램

num1 = int(input(">> 정수를 입력하세요 "))
num2 = int(1)

while num1 >= num2 :
  if num1 >= 0:
    print(f'{num2}번째 Hello')
    num2 += 1
  else :
      print('잘못된 입력입니다')

In [ ]:
no = int(input("정수를 입력하세요 >>> "))
n = 1

if no > 0:
  while no > 0:
    print(f'{n}번째 hello')
    n += 1
    no -= 1
else :
  print('잘못된 입력입니다.')

In [ ]:
#q2 1부터 100사이의 모든 정수 중에서 7의 배수만 출력

num1 = int(1)

while num1 <=100 :
  if num1%7 != 0 :
    num1 +=1
  else :
    print(num1)
    num1 +=1

In [ ]:
n = 7

while n <= 100:
  print(n)
  n += 7

In [ ]:
# 커피 1잔을 300원에 판매하는 자판기가 있다.
# 자판기에 돈을 넣었을 때 자판기에서 뽑을수 있는 커피가 몇잔이고 잔돈이 얼마인지?

money = int(input('>> 자판기에 얼마를 넣을까요? '))
n = 0

while money > 300 :
   money -= 300
   n += 1
   print(f'커피{n}잔, 잔돈 {money}원' )

In [ ]:
# 사용자로부터 0부터 9까지의 정수를 입력받아 입력된 정수가 5개가 될때까지 입력받는 프로그램을 구현하세요

# nnn = set([])

# while len(nnn) <= 5 :
#   no = int(input('0~9 사이의 정수를 입력하세요 >>> '))
#   if no >= 0 & no <=9 :
#       nnn.add(no)
#   else :
#     print('숫자가 이상합니다')

# print(nnn)
 #????????????????????

num = set([])

while len(num) <= 4:
  no = int(input('0 ~ 9 사이 정수를 입력하세요 >>>'))
  num.add(no)
  # print(num)

print(num)

In [5]:

# 1부터 100사이의 모든 정수를 한줄에 10개씩 출력하시오

# n = 1

# while n <= 100 :
#   if n%10 != 0 :
#     print(n, end='\t')
#   else :
#     print(n)
#   n += 1

n = 1

while n <= 100 :
  t = 0
  while t < 10:
    print(n, end='\t')
    t += 1
    n += 1
  print("")

1	2	3	4	5	6	7	8	9	10
11	12	13	14	15	16	17	18	19	20
21	22	23	24	25	26	27	28	29	30
31	32	33	34	35	36	37	38	39	40
41	42	43	44	45	46	47	48	49	50
51	52	53	54	55	56	57	58	59	60
61	62	63	64	65	66	67	68	69	70
71	72	73	74	75	76	77	78	79	80
81	82	83	84	85	86	87	88	89	90
91	92	93	94	95	96	97	98	99	100

In [9]:
####################################
# for
####################################

#몇번 반복 시킬지 그 횟수가 명확할 때 주로 사용한다.

#for 변수 in 반복시킬값들:
#   반복 실행문

# 리스트
# for i in [1,2,3] :
#   print(i)

# 문자열
# for i in 'hello' :
#   print(i)

# 튜플
# for i (1,2,3) :
#   print(i)

# range()
#for i in range(3): #range(시작(생략가능), 끝(미만), 스탭 (생략가능))값을 쭉 나열
for i in range(1,4,2) :
  print(i)

# set,dict 는 순서와 상관 없이는 사용가능

1
3

In [18]:
# 비밀 번호(str)를 입력 받아서 숫자와 문자가 모두 반드시 하나 이상
# 포함된 경우만 사용 가능한 비번입니다 라고 출력
# 아닐시 '불가능한 비번입니다.'
# ch.isalpha() - 알파뱃이면 구성되면 True
# ch.isnumeric() - 숫자면 구성되면 True

password = input("비밀번호를 입력하세요>>> ")

ch_count = 0
no_count = 0

for ch in password:
  if ch.isalpha(): 
    ch_count +=1
  elif ch.isnumeric():
    no_count +=1

if ch_count > 0 and no_count > 0 : ##파이썬에선 and or 쓰임
  print('사용 가능한 비번입니다')
else :
  print('사용 불가한 비번입니다.')

비밀번호를 입력하세요>>> 234r2f
사용 가능한 비번입니다

In [19]:
# range(start, stop, step) 

# 1 숫자들은 컬렉션으로 만든다.
# 2 start를 생략하면 0부터 시작한다.
# 3 stop 은 생략 할수 없다.
# 4 step은 생략할수 있고 생략하면 1씩 증가한다.

range(0, 5)

In [21]:
#quiz . range와 for 문을 사용하여 구구단을 출력하세요
#(입력) 출력할 구구단을 입력하세요 >>> 5

# num = int(input('출력할 구구단을 입력하세요 >>>'))

# bnum = 1

# for bnum in range(10) :
#   print(f'{num} X {bnum} = {num*bnum}')
#   bnum += 1

num = int(input('출력할 구구단을 입력하세요 >>>'))

for i in range(1,10,1) :
  print(f'{num} X {i} = {num*i}')
  i += 1

출력할 구구단을 입력하세요 >>>7
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

In [27]:
# set, dict 도 for문으로 사용은 가능하다 순서는 보정하지 않는다.

for i in {'가위', '바위', '보'} :
  print(i)

바위
보
가위

In [32]:
person = {
    'name' : '에밀리',
    'age' : '20'
}

for i in person:
  print(i)

for i in person:
  print(person[i])

name
age
에밀리
20

In [35]:
# 사용자로부터 양의 정수를 하나 입력 받아서 1부터 입력받은 정수 까지의 
# 모든 정수의 합계를 구하는 프로그램을 작성하세요

num = int(input("임의의 양의 정수를 입력하세요 >>> "))
sum = 0

for i in range(1,num+1) :
  sum = sum + i #sum += i
  
print(f'1부터 {num}까지의 합은 {sum} 입니다')

임의의 양의 정수를 입력하세요 >>> 3
1부터 3까지의 합은 6 입니다

In [38]:
# 사용자로부터 임의의 정수를 입력받아서 그 숫자만큼의 '과일이름' 입력 받아서 'basket' 리스트에 저장하는 프로그램

num = int(input('몇개의 과일을 보관할까요? >> '))
basket = []

for i in range(1,num+1) :
  fruit = (input(f'{i}번째 과일을 입력하세요 '))
  basket.append(fruit)

print(f'입력 받은 과일들은 {basket} 입니다.')

몇개의 과일을 보관할까요? >> 2
1번째 과일을 입력하세요 바나나
2번째 과일을 입력하세요 사과
입력 받은 과일들은 ['바나나', '사과'] 입니다.

In [41]:
# 1부터 99사이의 모든 정수를 대상으로 369 게임 결과를 출력하는 프로그램을 작성하세요

# for i in range(1,100) :
#   if str(3) in range()
    
#   else :
#     print (i)

# 내일 풀이

SyntaxError: ignored