<a href="https://colab.research.google.com/github/ckshin29/ai/blob/main/20220126.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#####################################################
# 리스트 List 튜플 Tuple 딕셔너리 Dict 셋 Set
#####################################################

#여러개의 값을 한번에 저장하는 자료형이 필요하다.

# 리스트 List - 가장 많이 사용함
# 지금까지 사용한 숫자1, 문자1 등 개별적, 독립적인 자료가 아닌 리스트는 이러한 자료들 여러개를 모아서 사용할 수 있게 해준다.

# 리스트는 []로 구성한다.

list = [1,2,3,4,5]
print(list)

#리스트는 다양한 자료형의 데이터를 한번에 담을 수 있다.
# (but, 하나의 리스트에는 한가지 자료형만 저장하는 것이 오히려 바람직하다.)

list = [1,2,3,'대한', '민국', True, False]
print(list)

score = [80,90,70,60]
print(score)
#리스트는 인덱싱과 슬라이싱이 가능하다.
print(score[0]) #파이썬은 0부터 시작한다.
print(score[0:2]) #슬라이싱은 0부터 2미만... 처럼 끝은 미만을 나타낸다.

# 리스트는 수정/삭제가 가능하다. (mutable but 튜플은 immutable)

score[0] = 100
print(score)
score[-1] = 100
print(score)
# score[4] #indexerror 아주 많이 접하게 될 에러 (에외)

[1, 2, 3, 4, 5]
[1, 2, 3, '대한', '민국', True, False]
[80, 90, 70, 60]
80
[80, 90]
[100, 90, 70, 60]
[100, 90, 70, 100]

In [ ]:
# 리스트는 연산이 가능하다.
list_a = [1,2,3]
list_b = [4,5,6]

print('list_a = ', list_a)
print('list_b = ', list_b)

print(list_a + list_b)
print(list_a * 3)
print(len(list_a)) 

# len 리스트의 갯수

list_a =  [1, 2, 3]
list_b =  [4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
3

In [ ]:
# 리스트에 많이 사용되는 함수들...
# append () 리스트에 요소를 추가할때 사용 끝에만 추가

print(score)
score.append(60)
print(score)
score.append(70)
print(score)

[100, 90, 70, 100]
[100, 90, 70, 100, 60]
[100, 90, 70, 100, 60, 70]

In [ ]:
# insert() 리스트에 요소를 추가 할때 사용, 특정위치를 지정하여 추가
list = []
list.insert(0,10)
print(list)

list.insert(1,50)
print(list)

[10]
[10, 50]

In [ ]:
list_a = [1,2,3]
list_a.extend([4,5,6]) #한번에 여러개 집어 넣을때 사용
list_a

[1, 2, 3, 4, 5, 6]

In [ ]:
list_a = [1,2,3]
list_b = [4,5,6]
print(list_a + list_b)
print(list_a) #비파괴적 처리

# 리스트 연결 만으로는 list_a 에 어떠한 영향도 주지 않는다.(비파괴적 처리)
# 하지만 extend()를 사용하면 list_a 에 직접적으로 영향을 주게 된다. (파괴적 처리)

# 원래 자료를 사용할 때는 비파괴적으로 사용하는 것이 바람직하다.
# 가능하면 원본 데이터는 그대로 유지하고 사용하는 것이 선택지가 넓다.

[1, 2, 3, 4, 5, 6]
[1, 2, 3]

In [ ]:
# del() 리스트에서 데이터 삭제

list_a = [0,1,2,3,4,5]
del list_a[1] # index 값으로 위치값을 삭제
print(list_a)

del list_a[1:3] # 1부터 3미만 즉 2까지
print(list_a)

del list_a[:] # 생략하면 처음 : 생략하면 끝
print(list_a)

# list_a.clear() 리스트 요소를 전부 한번에 삭제

[0, 2, 3, 4, 5]
[0, 4, 5]
[]

In [ ]:
# pop() 리스트에서 마지막 위치 데이터 삭제
list_a.pop()
list_a

IndexError: ignored

In [ ]:
list_a.pop(1)
list_a

In [ ]:
# remove 값으로 삭제

list_c = [1,2,1,2]
list_c.remove(2) #remove 는 요소의 값을 찾아 삭제한다.
                 # 동일한 값이 여러개 있을때는 하나씩 순차적으로 삭제한다.
                 # 리스트에서 중복된 여러개의 값을 제거하려면 반복문을 사용한다.
print(list_c)
list_c.remove(2)
print(list_c)

In [ ]:
list = [1,2,3,4,5]
print(list[0]) # indexing 비파괴적으로 동작한다.
print(list)

print(list.pop()) #pop은 파괴적으로 동작한다.
orint(list)

In [ ]:
# in / not in 리스트에 존재하는 요소인지를 확인

list = [222,434,65,123,547,876]
print(222 in list)
list = [222,434,65,123,547,876]
print(221 in list)
print(221 not in list)

In [ ]:
# 딕셔너리 (java의 map, JS의 json 과 유사한 자료구조)
# 리스트가 인덱스를 기반으로 값을 저장한다면 딕셔너리는 키값을 기반으로 값을 저장한다.

# {} 를 사용하여 데이터를 저장한다.
# 삽입/삭제 가 가능하다. mutable
# 순서가 없으므로 인덱싱과 슬라이싱이 불가능하다.

dict = {
    "name" : "엔드게임",
    "no" : 1,
    "type" : "히어로 무비",
    "price" : 10000
}

print(dict)
dict['name']

In [ ]:
dict = {  #키값은 하나 밸류는 리스트로 가능
    "감독" : ["안소니","루소"],
    "배우" : ["타노스","토르","헐크"],
}

dict["감독"]

In [ ]:
dict = {
    'name' : '건조 망고',
    'type' : '절임 과일',
    'ingredient' : ['망고','설망','색소'],
    'origin' : '필리핀'
}

print('name:', dict['name'])
print('type:', dict['type'])
print('ingredient:', dict['ingredient'])
print('origin:', dict['origin'])


dict['name'] = '망고'
print('name:', dict['name'])

print(dict['ingredient'][0])

dict['price'] = 5000  #값 추가 없는걸 지정하면 추가가 되고 있는걸 지정하면 수정이 되는 개념
print(dict)

dict['price'] = 4000 
print(dict)

del dict['price'] #삭제
print(dict)

In [ ]:
dict = {}

dict['name'] = '새이름'
dict['height'] = 185
dict['weight'] = 75

print(dict)
del dict['weight']
print(dict)

In [ ]:
# dict 자주 등장하는 에러(예외)

# KeyError 리스트에서 없는 인덱스에 접근하려고 하면 IndexError 가 발생된다.
# dict 에서도 존재하지 않는 키값을 사용하면 예외 또는 에러를 발생시킨다.

dict = {
    'name' : '건조 망고',
    'type' : '절임 과일',
    'ingredient' : ['망고','설망','색소'],
    'origin' : '필리핀'
}

del dict['nane']

In [ ]:
dict = {
    'name' : '건조 망고',
    'type' : '절임 과일',
    'ingredient' : ['망고','설망','색소'],
    'origin' : '필리핀'
}

key = input('>삭제를 원하는 데이터의 키값을 입력하세요 ')

if key in dict:
  print(dict[key])
  del dict[key]
else:
  print('존재하지 않은 키에 접근하고 있습니다...')

print(dict)

In [ ]:
# 튜플 tuple

# () 사용하여 작성한다.
# 리스트와 거의 대부분 유사하나, 튜플은 삽입,수정 등이 불가능하다. immutable
# 튜플은 1개의 원소로 작성할 때는 , 를 삽입한다. (1,)
# 튜플은 솰호를 생략할수 있다.

t = (1,2)
print(t)
print(type(t))

t2 = 3, 4
print(t2)
print(type(t2))

t3 = (5) # (5) == 5
print(t3)
print(type(t3))

t4 = (5)
print(t4)
print(type(t4))

t5 = (5,)
print(t5)
print(type(t5))

In [ ]:
t = (1,2,3,4,5)
# t[0] = 8 튜플은 수정이 불가능하다.
del t[0]

In [ ]:
t = (1,2,3,4,5)

print(t[1]) # 튜플은 인덱싱과 슬라이싱이 가능하다.
print(t[2:])

In [ ]:
t1 = (1,2,3,4,5)
t2 = (6,7,8,9) #비 파과적 연산은 가능하다.

print(t1 + t2)
print(t1)
print(t2)
print(t1 *3)

In [ ]:
#Set 집합
# {} 사용하여 작성한다.
# 중복을 허용하지 않는다.(중복제거 필터용으로 많이 사용)
# 순서가 없다. unordered 리스트나 튜플은 순서가 있기 때문에 ordered 인데싱과 슬라이싱을 통해 값을 꺼낼수있지만 딕셔너리와 셋은 순서가 없어서 불가능하다.
# set 자료형에 저장된 값을 꺼내려면 리스트나 튜플로 변환하여 사용한다.
# mutable 수정/삭제가 가능하다.

set = {1,1,2,2,3,3,4,4}
print(set)

In [11]:
s1 = set([1,1,2,2,3,3])
print(type(s1))
print(s1)

li = list(s1)
print(type(li))
print(li)
li[0]

<class 'set'>
{1, 2, 3}

TypeError: ignored

In [18]:
# 집합 계산

set1 ={1,2,3}
set2 = {2,3,4}

print(type(set1))
print(type(set2))

# 양쪽 집합 모두 공통적으로 포함되는 원소 -> 교집합
print(set1 & set2) 
print(set1.intersection(set2)) 

# 양쪽 집합의 모든 원소 -> 합집합
print(set1 | set2) 
print(set1.union(set2))

# 두개 집합의 차 -> 차집합
print(set1-set2)
print(set1.difference(set2))

<class 'set'>
<class 'set'>
{2, 3}
{2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4}
{1}
{1}

In [20]:
# 집합은 삽입 가능 mutable

set1 = {1,2,3}
print(set1)
set1.add(4)
print(set1)

set1.update([5,6,7,8])
print(set1)

# 집합은 삭제 가능 mutable
# 집합은 인덱스 개념이 존재하지 않는다. 따라서 값을 지정하여 직접 삭제한다.
set1.remove(4)
print(set1)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 5, 6, 7, 8}

In [23]:
number = input('학번을 입력하세요 >> ')
print(number [0],'학년', number [1:3],'반', number [3:5],'번'  )
print(f'{number[0]}학년 {number[1:3]}반 {number[3:]}번')

학번을 입력하세요 >> 31025
3 학년 10 반 25 번
3학년 10반 25번

In [26]:
cn = input('차량 번호를 입력하세요 >>')
cn2 = input('차량 번호를 입력하세요 >>')

print(f'{cn}의 차량번호 끝 4자리는 {cn[-4:]} 입니다')
#print(f'{cn2}의 차량번호 끝 4자리는 {cn2[-4:]} 입니다')

차량 번호를 입력하세요 >>서울2가1234
차량 번호를 입력하세요 >>288가1233
서울2가1234의 차량번호 끝 4자리는 1234 입니다
288가1233의 차량번호 끝 4자리는 1233 입니다

In [40]:
# 홀수 갯수의 문자열을 입력받아 가운데 글자를 추출하는 프로그램을 구현하시오

#ctx = 'austins'

#print(int(len(ctx)/2)
#print((len(ctx)//2) # 몫만 추출
#print((len(ctx)%2) # 나머지만 추출(홀수 짝수 배수 판별 가능)

name3 = input('홀수 갯수의 문자열을 입력하세요')


print(f'{name3}의 가운데 글자는 {name3[len(name3)%2]} 입니다')

홀수 갯수의 문자열을 입력하세요abc
abc의 가운데 글자는 b 입니다

In [39]:
# [1,2,3,4,5,6,7,8,9] 의 3번째 요소부터 7번째 요소만 추출한 결과에서
# 2번째 요소를 출력하는 프로그램을 구현하세요. (한줄로)

li = [1,2,3,4,5,6,7,8,9]
print(li[2:7][1])

4

In [ ]:
#############################
# if
#############################

# 특정 조건을 만족하는지 여부에 따라 실행되는 코드가 달라져야할 때 사용된다.
# 날씨가 맑으면 소풍을 가고 아니면 공부를 한다

#if 조건식 :
#만족 할때 실행
#else 
#만족하지 못할때 실행

if False:
  print('만족')
else:
  print('불만족')

In [41]:
age = int(input('당신의 나이를 입력하세요 >> '))

if age>= 18:
  print('당신은 성인입니다.')
else:
  print('당신은 성인이 아닙니다')

당신의 나이를 입력하세요 >>18
당신은 성인입니다.

In [44]:
age = int(input('당신의 나이를 입력하세요 >> '))

if age <10:
  print('당신은 유아입니다.')
elif age <20:
  print('당신은 10대 입니다')
elif age <30:
  print('당신은 20대 입니다')
elif age <40:
  print('당신은 30대 입니다')
elif age <50:
  print('당신은 40대 입니다')
else :
  print('당신은 노인 입니다')

당신의 나이를 입력하세요 >> 66
당신은 노인 입니다

In [48]:
score = int(input('당신의 점수를 입력하세요 >> '))
if score >=90:
  print(f'당신의 점수는 {score} 점이고 학점은 A 학점입니다.')
elif score >=80:
  print(f'당신의 점수는 {score} 점이고 학점은 B 학점입니다.')
elif score >=70:
  print(f'당신의 점수는 {score} 점이고 학점은 C 학점입니다.')
elif score >=60:
  print(f'당신의 점수는 {score} 점이고 학점은 D 학점입니다.')
else :
   print(f'당신의 점수는 {score} 점이고 학점은 F 학점입니다.')

당신의 점수를 입력하세요 >> 64
당신의 점수는 64 점이고 학점은 D 학점입니다.

In [51]:
# 임의의 정수를 입력받아 그 수가 3의 배수인지를 확인하는 프로그램을 작성하히오 % 홀수 짝수 배수

number = int(input('정수를 입력하세요 >> '))
if number%3 !=0:
  print(f'{number}는 3의 배수가 아닙니다.')
else :
  print(f'{number}는 3의 배수입니다.')

정수를 입력하세요 >> 15
15는 3의 배수입니다.

In [56]:
n1 = int(input('정수 1 입력 : '))
n2 = int(input('정수 2 입력 : '))
n3 = int(input('정수 3 입력 : '))
max = 0

if n1 > n2 & n1 > n3:
  max = n1
elif n2 > n3 :
  max = n2
else :
  max = n3

print(max)

정수 1 입력 : 6
정수 2 입력 : 4
정수 3 입력 : 2
6