In [ ]:
# 1

print('Hello World')

In [2]:
# 2

print("Mary's cosmetics")
print('Mary\'s cosmetics')

Mary's cosmetics
Mary's cosmetics

In [4]:
# 3
 
print('신씨가 소리질렀다 . "도둑이야".')
print("신씨가 소리질렀다 . \"도둑이야\".")

신씨가 소리질렀다 . "도둑이야".
신씨가 소리질렀다 . "도둑이야".

In [5]:
#4

print('"C:\Windows"')

"C:\Windows"

In [6]:
#5

print('"안녕하세요. \n만나서 \t\t 반갑습니다."')
#\n 줄바꿈 \t 일정 간격 띄우기

"안녕하세요.
만나서 		 반갑습니다."

In [7]:
#6

print("오늘은","일요일")
#오늘은 일요일

오늘은 일요일

In [13]:
#7

print('naver','kakao','sk','samsung', sep=';')

naver;kakao;sk;samsung

In [ ]:
#8 

print('naver','kakao','sk','samsung', sep='/')

In [15]:
#9

print("first", end=' ');print("second")

first second

In [16]:
#10

print(5/3)

1.6666666666666667

In [17]:
#11

samsung = 50000
print(f'삼성전자 주식 10주의 평가금액은 {10*samsung} 입니다')

삼성전자 주식 10주의 평가금액은 500000 입니다

In [18]:
#12

all = 298000000000000
now = 50000
per1 = 15.79

print(all, type(all))
print(now, type(now))
print(per1, type(per1))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [19]:
#13

s = "hello"
t = "python"

print(f'{s}! {t}')

hello! python

In [20]:
#14

print(2+2*3)
#8

8

In [21]:
#15

a = "132"

#str

print(type(a))

<class 'str'>

In [23]:
#16

num_str = '720'

print(int(num_str))

num_str='720'
num_int = int(num_str)

720
721 <class 'int'>

In [24]:
#17

num = 100
num_str = str(num)

print(num_str, type(num_str))

100 <class 'str'>

In [25]:
#18

a = "15.79"
b = float(a)

print(b, type(b))

15.79 <class 'float'>

In [27]:
#19

year = '2020'
year_int = int(year)

print(f'3년전은 {year_int-3} 이고 2년전은 {year_int-2} 이고 1년전은 {year_int-1} 입니다. 현재 년도는 {year} 입니다.')
print(int(year)-3)

3년전은 2017 이고 2년전은 2018 이고 1년전은 2019 입니다. 현재 년도는 2020 입니다.
2017

In [28]:
#20

monthly = 48584
month = 36

print(f'에어컨의 가격은 {monthly*month} 입니다.')

에어컨의 가격은 1749024 입니다.

In [30]:
#51

movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

In [33]:
#52

movie_rank = ['닥터 스트레인지', '스플릿', '럭키']

movie_rank.append('배트맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [35]:
#53

movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']

movie_rank.insert(1, '슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [38]:
#54

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [39]:
#55

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

del movie_rank[2:]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [ ]:
#56